
        html{
          font-family:arial;
          background-color: lightyellow;
        }
        ul{
          list-style-type: none;
          font-weight:bolder;
          color:brown;
          height: 30px;
        }
          li.naveg__itemMenu{
            float:left;
            margin:10px;
            width:30%;
            cursor: default;
          }
          section{
            clear:both;
            text-align:center;
          }
          .section_content{
            margin:30px;
            color:white;
          }
          .section_content>div{
            padding-top:3em;
          }
          .footer{
            margin-top:30px;
          }
  